._*
.Apple*
.DS_Store
*.esproj
*~
*.geany
install-log.txt
public_html/manifest/cache
public_html/manifest/tmp
public_html/manifest/logs
public_html/manifest/config.php
public_html/workspace/migrations/queries-run-locally.csv
_docs/
LICENSE
public_html/install/
public_html/workspace/uploads