._*
.Apple*
.DS_Store
.localised
*.esproj
pear/
.bashrc
.pearrc
.bash_history
.ssh
mysql_backups

*~
*.geany
install-log.txt
_docs/
LICENSE
public_html/.htaccess
public_html/install/
public_html/install.php
public_html/workspace/uploads
public_html/manifest/config.php
data/queries-run-locally.csv
curl_cookie.txt