._*
public_html/.htaccess
.Apple*
.DS_Store
.localised
*.esproj
pear/
.bashrc
.pearrc
.bash-history
*~
*.geany
install-log.txt
_docs/
LICENSE
public_html/install/
public_html/install.php
public_html/workspace/uploads
public_html/manifest/config.php
public_html/workspace/migrations/queries-run-locally.csv