/* main.css
 * 
 * 
 *
 * Author: David Anderson 2010
 * dave@veodesign.co.uk
*/


/****************************
* GENERAL PAGE
****************************/
body{


}



/****************************
* HEADER
****************************/

#header{
	
}

#header-logo{
	background: url(../images/main/logo-header.png) no-repeat;
	height:	70px;
}
#header-logo a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;	
}



/*
* NAV
****************************/
#header-nav {

}

#header-nav ul{

}

#header-nav ul li{

}

#header-nav ul li a{

	
}
#header-nav ul li a:hover{

}



/****************************
* CONTENT
****************************/




#wrapper{

}



/****************************
* PAGE SPECIFIC
****************************/





/****************************
* CONTACT
****************************/
#map{

}

.form input{
	padding: 6px;	
}

.form input.text{
	padding: 5px;	
	width: 200px;
}


.form{
	margin-top: 18px;	
}

.form textarea{
	padding: 5px;	
}

.form form label > div, .form form > div{
	margin-bottom: 5px;
	
}

.form .l{
	text-align: right;		
	padding-top: 6px;
}

.form .l.msg{
	padding-top: 50px;	
}

.form .validation-summary.error{
	background: #ffbbbb;
	padding: 15px;
	
	margin: 0px 0px 12px;	
}

.form .validation-summary.error .error-msg{
	font-weight: 700;
	font-size: 24px;
	color: #ee0000;
	margin-bottom: 12px;
}

.form .validation-summary.error ul li{
	list-style: disc;
	margin-left: 20px;	
	color: #000000;
}

.form-success{
	text-align: center;
	padding: 10px;
	margin: 20px 0px;
	background-color: #CDEB8B;
	
	color: #5da262 !important;
}

/****************************
* CAROUSEL
****************************/



/****************************
* FOOTER
****************************/

#footer{
	text-align: center;

}

#footer span{

}

#footer a{


}
#footer a:hover{

}

#footer p{

}


/****************************/
/* MISC*/
/****************************/





